In [11]:
#while-løkker brukt for å telle
teller = 10
while teller >0:
    #print(teller)
    teller -= 1

# oppvarmingsoppgave 
# tell alle partall fra 0-20
teller = 2
while teller <= 20:
    print(teller)
    teller += 2

2
4
6
8
10
12
14
16
18
20

In [10]:
"""
SET i TO 1
WHILE i < 5
  PRINT i
  INCREMENT i 
ENDWHILE
"""
i = 1
while i < 5 :
    print(i)
    i += 1

1
2
3
4

In [13]:
"""
SET i TO 1
WHILE i <= 5
  PRINT i
  INCREMENT i BY 2
ENDWHILE
"""
i = 1
while i <= 5: 
    print(i)
    i += 2

1
3
5

In [15]:
# for-løkke
#brukes for å gå gjennom en sekvens,
# en samling med *ting* f.eks en liste med tall eller en ordbok med nøkler.
for tall in [1,2,3,4,5,6,7,8,9,10]:
    print(tall)

antall_mellomrom = 0
for bokstav in "ja vi elsker":
    if bokstav == " ":
        antall_mellomrom += 1
    print(antall_mellomrom)

1
2
3
4
5
6
7
8
9
10
0
0
1
1
1
2
2
2
2
2
2
2

In [ ]:
antall_mellomrom = 0
for bokstav in "ja vi elsker"

In [19]:
#range
#range (start, slutt_før), steg er en innebygd funksjon som gir oss en sekvens med tall,
#som vi kan bruke i for-løkker

for tall in range(1,2,3):
    print(tall)

for tall in range (1,11,1): #for hvert tall i sekvensen som starter på 1, slutter før 11 og øker med 1
    print(tall)

#TIPS
#hvis vi starter med 0, trenger vi ikke skrive start-argument
#hvis vi skal øke med 1, trenger vi ikke skrive steg-argument

1
1
2
3
4
5
6
7
8
9
10

In [20]:
#oppgave lag en for-løkke som printer tallene fra 0 til 7
for tall in range (8):
    print(tall)

#lag en for-løkke som printer tallene fra 10-1
for tall in range (10, 0, -1):
    print(tall)

0
1
2
3
4
5
6
7
10
9
8
7
6
5
4
3
2
1

In [21]:
fag = ["IT1", "IT2", "IT3", "R1", "R2" ]
karakterer = (6,6,4,5,4)


#Oppgave print fag og karakter på samme linje- bruk for tall in range()
#eks: IT1:6
#eks: IT2:6
for tall in range(len(fag)):
    print(f"{fag[tall]}: {karakterer[tall]}")

IT1: 6
IT2: 6
IT3: 4
R1: 5
R2: 4

In [1]:
ravi = { #krøll parangses fordi det er ordbok og ikke liste
    "navn": "David Ravi",
    "alder": 43,
    "yrke": "mattelærer",
    "favorittaktivitet": "hjelpe emilioe med matte",
    "favorittdrikke": "databrus",
    123: "favorittall" #vi kan også bruke andre typer nøkler i en ordbok
    #nøkkel:verdi
}

print(ravi["yrke"])
print(ravi[123])

print()
print("Nøkler")
#en for-løkke som looper gjennom en ordbok vil gå gjennom alle nøklene
#variabelen som opprettes i en for-løkke som går gjennom en ordbok 
#vil etter tur ha verdiene til nøklene i ordboka
for nøkkel in ravi:
    print(nøkkel, ravi[nøkkel])

#alternativt kan vi bruke .items() og to variabler for å gå gjennom alt innholdet i en ordbok
for nøkkel, verdi in ravi.items():
    print(nøkkel, verdi)

mattelærer
favorittall

Nøkler
navn David Ravi
alder 43
yrke mattelærer
favorittaktivitet hjelpe emilioe med matte
favorittdrikke databrus
123 favorittall
navn David Ravi
alder 43
yrke mattelærer
favorittaktivitet hjelpe emilioe med matte
favorittdrikke databrus
123 favorittall

In [5]:
#lister med ordbøker

skuespillere = [
    {"navn": "Tom Hanks", "alder": 66},
    {"navn": "Meryl Streep", "alder": 73},
    {"navn": "Leonardo DiCaprio", "alder": 48},
    {"navn": "Julia Roberts", "alder": 55},
    {"navn": "Denzel Washington", "alder": 67},
    {"navn": "Nicole Kidman", "alder": 55},
    {"navn": "Brad Pitt", "alder": 59},
    {"navn": "Charlize Theron", "alder": 47},
    {"navn": "Johnny Depp", "alder": 59},
    {"navn": "Emma Stone", "alder": 34},
]

favoritt = skuespillere [9] 

#kan også skrive: for å hente ut siste
#favoritt = skuespillere [-1]
print(f"{favoritt['navn']} ({favoritt['alder']})")

Emma Stone (34)

In [7]:
for s in skuespillere:
    print(f"{s['navn']} ({s['alder']})")

Tom Hanks (66)
Meryl Streep (73)
Leonardo DiCaprio (48)
Julia Roberts (55)
Denzel Washington (67)
Nicole Kidman (55)
Brad Pitt (59)
Charlize Theron (47)
Johnny Depp (59)
Emma Stone (34)

In [10]:
eldst = skuespillere[0]
totalalder = 0
for skuespiller in skuespillere:
    totalalder += skuespiller ["alder"]
    if skuespiller["alder"] > eldst ["alder"]:
        eldst = skuespiller
print(eldst)
snitt = totalalder /len(skuespillere)
print(snitt)

{'navn': 'Meryl Streep', 'alder': 73}
56.3